body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.MovieCardFlex{
  display: flex;
  flex-wrap: wrap;
}

.RecommendationsFlex{
  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
}



.ri-home-4-line{
  font-size: 40px;
  padding: 20px;
  
}
.ri-star-line, .ri-star-fill{
  font-size: 20px;

  
}

.ri-book-3-line{
  font-size: 30px;
  padding: 20px
}

input{
  padding-left: 15px;
  margin-left: 230px;
  border-radius: 50px;
  height: 30px;
  width: 200px;
  border: 1px solid lightgray;
  outline: none;
}

a{
  text-decoration: none;
}



.ri-arrow-left-s-line {
  font-size: 40px;
}

.stars-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  

}